# Core Frameworks
streamlit
ultralytics==8.0.145

# Computer Vision & Image Processing
# Gunakan -headless agar tidak error libGL di server Linux
opencv-python-headless==4.8.0.74
Pillow

# Data Handling
pandas
numpy

# Additional Tools (Penting agar tidak error saat deploy)
requests
pyyaml
tqdm
scipy

# Jika kamu pakai fungsi koordinat/peta di Streamlit
# folium
# streamlit-folium
