# Core Frameworks
streamlit
ultralytics==8.0.145

# Computer Vision & Image Processing
# Gunakan -headless agar tidak error libGL di server Linux
opencv-python-headless==4.8.0.74
Pillow

# Data Handling
pandas
numpy

# Additional Tools
torch--index-url https://download.pytorch.org/whl/cpu
requests
pyyaml
tqdm
scipy

